
#login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.form_container{
    border:2px solid #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    background-color:cadetblue;
}
.form_container div{
    margin: 20px 0 5px 0;
}
.form_container label{
    font-size: 20px;
    text-transform: capitalize;
}
.form_container input{
    width: 100%;
    outline: none;
    border:0;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
}
.form_container button{
    height: 35px;
    background-color: #fff;
    border:none; 
    border-radius: 6px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        color: bisque;
        text-decoration: none;
        border:2px solid bisque;
        background-color: royalblue;
    }
}
.form_container .button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_container .signup_link{
    margin: 10px 0;
    font-size: 20px;
}
#login_container .signup_link a{
    font-weight: 600;
    font-size: 25px;
    color: antiquewhite;
    text-decoration: underline 2px wavy bisque;
    text-underline-offset:7px;
    margin: 10px;
    &:hover{
        color: bisque;
        text-decoration: none;
        border:2px solid bisque;
        border-radius: 8px;
        padding: 2px 5px;
    }
}